/* frontend/src/components/Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #060f15; /* Fondo de la navbar */
  padding: 10px 20px;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif; /* Fuente más redonda */
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.navbar-title {
  font-size: 24px;
  color: #ffffff; /* Texto blanco para resaltar en el fondo naranja */
  font-weight: bold;
}

.navbar-search {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.search-input {
  width: 100%;
  max-width: 500px;
  padding: 8px;
  border: 1px solid #000000;
  border-right: none;
  border-radius: 4px 0 0 4px;
  background-color: #ffffff; /* Fondo blanco */
  color: #000000;
}

/* Estilo del botón de búsqueda */
.search-button {
  padding: 8px 16px;
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/* Efecto de hover para el botón de búsqueda */
.search-button:hover {
  background-color: #333333; /* Fondo negro más oscuro */
  transform: scale(1.05); /* Efecto de agrandamiento */
}

.navbar-icons {
  display: flex;
  align-items: center;
}

.login-button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #ff3900; /* Botón negro */
  color: #81fff9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-button {
  padding: 8px 16px;
  background-color: #ff3900; /* Botón negro */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.account-section {
  display: flex;
  align-items: center;
}

.account-button, .logout-button {
  padding: 8px 16px;
  background-color: #ff3900; /* Botón negro */
  color: #ffffff; /* Texto blanco */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.logout-button {
  background-color: #ffffff; /* Naranja para diferenciar */
  color: #060f15; /* Texto blanco */
}

