.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f6fa; /* Fondo blanco */
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 30px;
  background-color: #ff3900; /* Fondo anaranjado */
  border-radius: 20px; /* Bordes más redondeados */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}

.register-title {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff; /* Texto blanco */
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif; /* Fuente redonda */
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #ffffff; /* Borde blanco */
  border-radius: 20px; /* Bordes más redondeados */
  font-size: 16px;
  font-family: 'Poppins', sans-serif; /* Fuente redonda */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  color: #333; /* Texto negro */
}

.register-input:focus {
  outline: none;
  border-color: #000000; /* Borde negro al enfocarse */
}

.register-button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
  border: none;
  border-radius: 20px; /* Bordes más redondeados */
  cursor: pointer;
  font-size: 16px;
  font-family: 'Poppins', sans-serif; /* Fuente redonda */
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #333333; /* Fondo negro más oscuro */
}

.login-text {
  font-size: 14px;
  color: #ffffff; /* Texto blanco */
  margin-top: 15px;
}

.login-link {
  color: #000000; /* Texto negro */
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #ffe0cc; /* Texto anaranjado claro */
}
